.header{
    display:flex;
    justify-content: space-between;
}


.logo { margin-left: -2.3rem;
    
    height: 80px;
    width: 
   322px ;
    
  }
  .header-menu{
    font-size: 1.3rem;
    list-style: none;
    display:flex;
    gap:2rem;
    color: white;

}

.header-menu>li:hover{
    cursor: pointer;
    color:var(--orange);
    cursor: pointer;
}
@media screen and(max-width:768px) {
   
}
